<?php
/**
 * @author Tony Lea <tony@devdojo.com>
 * @package google-image-search
 * @file GoogleCreds.php
 */
namespace DevDojo\Tests;

/**
 * Class GoogleCreds. Where you put in your credentials for google.
 *
 * @package DevDojo\Tests;
 */
class GoogleCreds
{
    public static $apiKey = 'Api key goes in here';
    public static $cx = 'CX goes in here';
}
